config R8168
    tristate "Realtek 8168 gigabit ethernet support"
    depends on PCI
    select FW_LOADER
    select CRC32
    select MII
    ---help---
      Say Y here if you have a Realtek 8168 PCI Gigabit Ethernet adapter.

      To compile this driver as a module, choose M here: the module
      will be called r8169.  This is recommended.
